:root {
    --primary: #2d3192;
    --secondary: #0e75ba;
    --variation: #01acf1;
  }
  
* {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
scroll-behavior: smooth;
}

body {
margin: 0;
padding: 0;
}

section {
margin: 36px;
padding: 24px;
}

h1 {
font-size: 72px;
text-align: center;
}

h2 {
font-size: 36px;
text-align: center;
}

h3 {
font-size: 24px;
text-align: center;
}

h4 {
font-size: 16px;
text-align: center;
font-style: normal;
}

p {
text-align: justify;
}

.card_container{
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    gap: 22px;
}

.card1{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 82.8%;
    height: 59.4vh;  
}

.image_layanan1{
    --width_image_layanan:38.8%;
    width: var(--width_image_layanan);
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, #2D3192,#01ACF1);
}

.description_container1{
    position: relative;
    flex-grow: 1;
    align-self: center;
    height: 90%;
    background-image: linear-gradient(to top left, #2D3192,#01ACF1);
}

.description1{
    position: absolute;
    bottom: 0;
    top: 0;
    right:0;
    left: 0;
    margin: 2% 15px 2% 0;
    background-color: white;
}

.description1 p{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    text-align: justified;
    color: #0E75BA;
    padding-top: 2%;
    margin-right: 22px;
    margin-left: 22px;
}

.icon1{
    position: absolute;
    display: flex;
    gap: 22px;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 5%;
}

.icon1 img{
    width: 12%;
    height: 12%;
}

.card2{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 82.8%;
    height: 59.4vh; 
}

.image_layanan2{
    width: 38.8%;
    height: 100%;
    background-image: linear-gradient(to top left, #2D3192,#01ACF1);
}

.description_container2{
    position: relative;
    flex-grow: 1;
    align-self: center;
    height: 90%;
    background-image: linear-gradient(to top left, #2D3192,#01ACF1);;
}

.description2{
    position: absolute;
    bottom: 0;
    top: 0;
    right:0;
    left: 0;
    margin: 2% 0 2% 15px;
    background-color: white;
}

.description2 p{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    text-align: justified;
    color: #0E75BA;
    padding-top: 2%;
    margin-right: 22px;
    margin-left: 22px;
}

.icon2{
    position: absolute;
    display: flex;
    gap: 22px;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 5%;
}

.icon2 img{
    width: 12%;
    height: 12%;
}

.pngpanjang{
    margin-top: 5%;
}

.card3{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 82.8%;
    height: 59.4vh; 
    /* background-color: yellow; */
}

.image_layanan3{
    width: 38.8%;
    height: 100%;
    background-image: linear-gradient(to top left, #2D3192,#01ACF1);
}

.description_container3{
    position: relative;
    flex-grow: 1;
    align-self: center;
    height: 90%;
    background-image: linear-gradient(to top left, #2D3192,#01ACF1);
}

.description3{
    position: absolute;
    bottom: 0;
    top: 0;
    right:0;
    left: 0;
    margin: 2% 15px 2% 0;
    background-color: white;
}

.description3 p{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    text-align: justified;
    color: #0E75BA;
    padding-top: 2%;
    margin-right: 22px;
    margin-left: 22px;
}

.icon3{
    position: absolute;
    display: flex;
    gap: 22px;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 5%;
}

.icon3 img{
    width: 12%;
    height: 12%;
}
/* ################################################ */
/* TAMPILAN LAYANAN UNTUK UKURAN HP */
/* ################################################ */



/* TAMPILAN UNTUK WIDTH DI BAWAH 1024 PX  */
@media (max-width: 1440px) {
    .card1{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 50vh;  
    }

    .card2{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 50vh;  
    }

    .card3{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 50vh;  
    }
}

/* TAMPILAN UNTUK WIDTH DI BAWAH 1024 PX  */
@media (max-width: 1025px) { 
    .card_container{
        display: flex;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
    }
    
    .card1{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 30vh;  
    }
    
    .image_layanan1{
        width: 38.8%;
        height: 100%;
    }

    .description_container1{
        position: relative;
        flex-grow: 1;
        align-self: center;
        height: 90%;
    }
    
    .description1{
        position: absolute;
        bottom: 0;
        top: 0;
        right:0;
        left: 0;
        margin: 2% 10px 2% 0;
    }
    
    .description1 p{
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 2%;
        margin-right: 22px;
        margin-left: 22px;
    }
    
    .icon1{
        position: absolute;
        display: flex;
        gap: 22px;
        bottom: 0;
        margin-left: 15px;
        margin-bottom: 5%;
    }
    
    .icon1 img{
        width: 12%;
        height: 12%;
    }
    
    .card2{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 30vh; 
    }
    
    .image_layanan2{
        width: 38.8%;
        height: 100%;
    }
    
    .description2{
        position: absolute;
        bottom: 0;
        top: 0;
        right:0;
        left: 0;
        color: #0E75BA;
        margin: 2% 0 2% 9px;
    }

    .description2 p{
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-right: 22px;
        margin-left: 22px;
    }
    

    .card3{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 30vh; 
    }
    
    .image_layanan3{
        width: 38.8%;
        height: 100%;
    }

    .description3{
        position: absolute;
        bottom: 0;
        top: 0;
        right:0;
        left: 0;
        margin: 2% 10px 2% 0;
    }

    .description3 p{
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-right: 22px;
        margin-left: 22px;
    }
}


/* TAMPILAN UNTUK WIDTH DI BAWAH 1024 PX  */
@media (max-width: 769px) { 
    .card_container{
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        gap: 22px;
    }
    
    .card1{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 25vh;  
    }
    
    .image_layanan1{
        width: 38.8%;
        height: 100%;
    }
    
    .description1{
        margin-right: 7px;
    }

    .description1 p{
        font-family: Open Sans;
        font-size: 9px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-right: 22px;
        margin-left: 22px;
    }

    .card2{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 25vh; 
    }
    
    .image_layanan2{
        width: 38.8%;
        height: 100%;
    }
    
    .description2{
        margin-left: 7px;
    }

    .description2 p{
        font-family: Open Sans;
        font-size: 9px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-right: 22px;
        margin-left: 22px;
    }

    .card3{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 82.8%;
        height: 25vh; 
    }
    
    .image_layanan3{
        width: 38.8%;
        height: 100%;
    }

    .description3{
        margin-right: 7px;
    }

    .description3 p{
        font-family: Open Sans;
        font-size: 9px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-right: 22px;
        margin-left: 22px;
    }
}

@media (max-width: 426px) {
    .card_container{
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        gap: 22px;
    }
    
    .card1{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 14vh;  
    }
    
    .image_layanan1{
        width: 38.8%;
        height: 100%;
    }
    
    .description1{
        margin-right: 7px;
    }

    .description1 p{
        font-family: Open Sans;
        font-size: 13px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-right: 22px;
        margin-left: 22px;
    }

    .card2{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 14vh; 
    }
    
    .image_layanan2{
        width: 38.8%;
        height: 100%;
    }
    
    .description2{
        margin-left: 4px;
    }

    .description2 p{
        font-family: Open Sans;
        font-size: 4.8px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .icon2{
        margin-left: 6px;
    }

    .card3{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 14vh; 
    }
    
    .image_layanan3{
        width: 38.8%;
        height: 100%;
    }

    .description3{
        margin-right: 7px;
    }

    .description3 p{
        font-family: Open Sans;
        font-size: 4px;
        font-weight: 400;
        text-align: justified;
        color: #0E75BA;
        padding-top: 4%;
        margin-right: 22px;
        margin-left: 22px;
    }
}


















  