:root {
  --primary: #2d3192;
  --secondary: #0e75ba;
  --variation: #01acf1;
}

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 36px;
  padding: 24px;
}

h1 {
  font-size: 72px;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: center;
}

h4 {
  font-size: 16px;
  text-align: center;
  font-style: normal;
}

p {
  text-align: justify;
}

/* Navigation Bar */
header {
  display: inline;
}

.jumbotron {
  height: 300px;
  width: 100%;
  padding: 10px;
  background-image: url("banner_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about.jumbotron {
  background-image: url("banner_about.png");
}

#contact.jumbotron {
  background-image: url("banner_contact.png");
}

.jumbotron h1 {
  color: white;
  margin-top: 100px;
  margin-bottom: 0px;
}

.jumbotron h4 {
  color: white;
  margin-top: 8px;
}

nav {
  background-color:aliceblue;
  position: sticky;
  padding: 5px;
  width: 100%;
  top: 0;
  z-index: 100;
}

nav a {
  font-size: 18px;
  font-weight: 400px;
  text-decoration: none;
  color:darkcyan;
  transition: all 0.3s ease 0s;
}

nav a:hover{
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

li {
  list-style: none;
}

.icon {
  margin-right: auto;
}

.whatsapp-contact {
  margin-right: 0px;
  padding-right: 0px;
}

/*============================LAYANAN==================================*/


/* Container dari Container [Card 1, Card 2, Card 3] */

.card_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  /* background-color: red; */
  gap: 50px;
}

/* Card 1 [Web Development] */

.card1{
  display: flex;
  width: 1080px;
  height: 460px; 
  margin-left: 130px; 
  /* background-color: yellow; */
}

.card_image_container1{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 420px;
  height: 460px;
  background-image: linear-gradient(to top left, #2D3192,#01ACF1);
  border-radius: 22px;
  justify-content: center;
  box-shadow: 2px 0px 9px 0.01px;
  z-index: 2;
}

.card_image_container1 img{
  margin-top: 32px;
  margin-left: 53px;
  border-radius: 25px;
  width: 308px;
  height: 340px;
}

.card_image_container1 h1{
  font-family: Scada;
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.81px;
  text-align: center;
}

.description_container1{
  display: flex;
  position: relative;
  width: 685px;
  height: 412px;
  top: 0;
  left: 0;
  height: 412px;
  background-image: linear-gradient(to top left, #2D3192,#01ACF1);
  margin-top: 28px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  box-shadow: 2px 0px 9px 0.01px;
  z-index: 1;
  /* padding-top: 22px; */
  /* padding-bottom: 22px; */
}

.description1{
  display: flex;
  position: relative;
  width: 98%; 
  height: 95%;  
  background-color: white;
  margin-top: 10px;
  z-index: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  color: #0E75BA;
  text-align: justify;
}

.description1 p{
  margin-left: 25px;
  margin-right: 4px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: px;  
}

.icon1{
  position: absolute;
  display: flex;
  gap: 22px;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 45px;
  width: fit-content;
  height: fit-content;
  /* background-color: aqua; */
}

.icon1 img{
  width: fit-content;
  height: 70px;
  gap: 0px;
  opacity: 0px;  
}

/* Card 2 [Mobile Development] */
.card2{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-left: 130px;
  width: 1080px;
  height: 460px;  
  /* background-color: green; */
}

.description_container2{
  position: relative;
  width: 685px;
  height: 412px;
  background-image: linear-gradient(to top left, #2D3192,#01ACF1);
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  box-shadow: -2px 0px 9px 0.01px;
}

.description2{
  display: flex;
  position: relative;
  left: 13px;
  width: 98%; 
  height: 95%;  
  background-color: white;
  margin-top: 10px;
  z-index: 1;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  color: #0E75BA;
  text-align: justify;
  z-index: 1;
}

.description2 p{
  margin-left: 25px;
  margin-right: 4px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}

.icon2{
  position: absolute;
  display: flex;
  gap: 22px;
  bottom: 0;
  right: 0;
  margin-left: 20px;
  margin-bottom: 45px;
  width: fit-content;
  height: fit-content;
  /* background-color: aqua; */
}

.icon2 img{
  width: fit-content;
  height: 70px;
  gap: 0px;
  opacity: 0px; 
}

.card_image_container2{
  position: relative;
  width: 420px;
  height: 460px;
  background-image: linear-gradient(to top left, #2D3192,#01ACF1);
  border-radius: 22px;
  box-shadow: -2px 0px 9px 0.01px;
  z-index: 2;
}

.card_image_container2 img{
  margin-top: 32px;
  margin-left: 53px;
  border-radius: 25px;
  width: 308px;
  height: 340px;
}

.card_image_container2 h1{
  font-family: Scada;
  color: white;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.81px;
  text-align: center;
}

/*==============================VISI-MISI==============================*/
.visi{
  text-align: center;
}

.misi li{
  text-align: center;
  margin-bottom: 4px;
  font-size: 18px;
}

/*====================================TEAM=========================*/
#team {
  margin: 0;
  padding: 16px 0;
  background-color: cornflowerblue;
}

#team h2 {
  font-size: 36px;
  color: aliceblue;
}

#team .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 56px;
  box-sizing: border-box;
  padding: 25px;
}

#team .column {
  flex: 0 1 33%;
  width: 100%;
  max-width: 350px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 25px;
}

#team h4 {
  color: #607070;
}

#team img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#team p {
  padding: 8px;
  color: darkslateblue;
  text-align: center;
}

/*=============================CONTACT==========================*/

.header_contact{
  text-align: center;
  font-family: "Scada";
  color: #2D3192;
  font-size: 26px;
  font-weight: 700;
}

.inner_contact{
  width: 1080px;
  height: 459.06px;
  display: flex;
  /* background-color: brown; */
  /* position: absolute; */
  padding-left: 170px;
  padding-top: 30px;
}

.inner_contact a{
  text-decoration: none;
  
}

.image_contact img{
  width: 418.56px;
  height: 459.06px;
  object-fit: cover;  
  border-radius: 25px;   
}

.container_email{
  width: fit-content;
  height: fit-content;
}

.email_kami{
  position: relative;
  width: 310px;
  height: 340px;
  background-image: linear-gradient(to top left, #2D3192,#01ACF1);
  left: 21.44px;
  border-radius: 30px;
  top: 60px;
}

.telepon_kami{
  position: relative;
  width: 310px;
  height: 340px;
  background-image: linear-gradient(to top left, #2D3192,#01ACF1);
  left: 39px;
  border-radius: 30px;
  top: 60px;
  justify-content: center;
}

.image_email{
  position: relative;
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background-color: white;
  margin-left: 70px;
  top: 30px;
}

.detail_email{
  position: relative;
  justify-content: center;
  top: 22px;
  /* right: 17px; */
  /* background-color: aquamarine; */
}

.detail_email h1{
  position: relative;
  font-family: Scada;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-right: 25px;
}

.detail_email li{
  position: relative;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  right: 10px;
  color: white;
  top: -2px;
  /* left: 5px; */
}

.image_telepon{
  position: relative;
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background-color: white;
  margin-left: 70px;
  top: 30px;
}

.detail_telepon{
  position: relative;
  justify-content: center;
  top: 22px;
  /* right: 36px; */
  /* background-color: aquamarine; */
}

.detail_telepon h1{
  position: relative;
  font-family: Scada;
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-right: 28px;
}

.detail_telepon li{
  position: relative;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  right: 10px;
  color: white;
  top: -2px;
  right: -35px;
  letter-spacing: 2px;
}


/*==============================================================*/
footer {
  width: 100%;
  position: absolute;
  color: var(--primary);
  background: radial-gradient(var(--bg), var(--secondary));
  padding: 0px;
  font-size: 20px;
  line-height: 20px;
}

footer .row-footer {
  width: 73%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

footer .col-footer {
  flex-basis: 25%;
  padding: 50px 0px;
}

footer .col-footer img {
  margin-top: 8px;
  height: 154px;
}

footer .col-footer:nth-child(3) {
  flex-basis: 15%;
}

footer .col-footer h3 {
  font-family: "Inter";
  font-weight: bold;
  color: #2d3192;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

footer .col-footer ul {
  padding: 0px;
}

footer .col-footer ul li {
  font-family: "Inter";
  font-weight: 500;
  list-style: none;
  margin-bottom: 20px;
}

footer .col-footer ul li a {
  text-decoration: none;
  color: var(--primary);
}

footer .col-footer ul li a:hover {
  text-decoration: none;
  color: #01acf1;
}

footer .col-footer-contact {
  position: relative;
}

footer .col-footer-contact li {
  display: grid;
  grid-template-columns: 30px 1fr;
}

footer .copyright {
  width: 100%;
  padding: 4px 0px;
  background-image: linear-gradient(to right, #2d3192, #01acf1);
}

footer .copyright-name {
  padding: 12px 0px;
  color: #fff;
  font-family: "Open Sans";
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}


