/* Root */
:root {
  --primary: #2d3192;
  --secondary: #0e75ba;
  --variation: #01acf1;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Navigation Bar */
.navbar {
  box-shadow: 0px 0px 10px black;
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 100;
}

.header {
  max-width: 1120px;
  margin: auto;
}

nav > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo > img {
  width: 144px;
  height: 72px;
}

.navbar-menu-items {
  font-family: "Inter";
  font-size: bold;
}

.navbar-menu {
  width: 50%;
}

.navbar-menu > ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.navbar-menu-items {
  font-family: "Inter";
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: #2d3192;
}

.navbar-menu-items:hover {
  color: #01acf1;
}

.navbar-menu ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #01acf1;
  display: block;
  transition: 0.2s;
}

.navbar-menu ul li:hover::after {
  width: 100%;
}

/* about Us Section */
.contact {
  min-height: 240px;
  background: url(../img/banner_contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  text-align: center;
}

.contact-content h1 {
  margin: auto;
  padding: 0px;
  font-family: "Scada";
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

/* Footer Section */
footer {
  width: 100%;
  position: absolute;
  color: var(--primary);
  background: radial-gradient(var(--bg), var(--secondary));
  padding: 0px;
  font-size: 20px;
  line-height: 20px;
}

footer .row-footer {
  width: 73%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

footer .col-footer {
  flex-basis: 25%;
  padding: 50px 0px;
}

footer .col-footer img {
  margin-top: 8px;
  height: 154px;
}

footer .col-footer:nth-child(3) {
  flex-basis: 15%;
}

footer .col-footer h3 {
  font-family: "Inter";
  font-weight: bold;
  color: #2d3192;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

footer .col-footer ul {
  padding: 0px;
}

footer .col-footer ul li {
  font-family: "Inter";
  font-weight: 500;
  list-style: none;
  margin-bottom: 20px;
}

footer .col-footer ul li a {
  text-decoration: none;
  color: var(--primary);
}

footer .col-footer ul li a:hover {
  text-decoration: none;
  color: #01acf1;
}

footer .col-footer-contact {
  position: relative;
}

footer .col-footer-contact li {
  display: grid;
  grid-template-columns: 30px 1fr;
}

footer .copyright {
  width: 100%;
  padding: 4px 0px;
  background-image: linear-gradient(to right, #2d3192, #01acf1);
}

footer .copyright-name {
  padding: 12px 0px;
  color: #fff;
  font-family: "Open Sans";
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}
