/*=============================ABOUT==========================*/
/* About Us Section */
.about-us {
  padding: 0px;
  margin: 0px;
  min-height: 240px;
  background: url(../img/banner_about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-content {
  text-align: center;
}

.about-us-content h1 {
  display: flex;
  margin: auto;
  padding: 0px;
  font-family: "Scada";
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

/*==============================VISI-MISI==============================*/
#visi-misi {
  margin-right: 15rem;
  margin-left: 15rem;
  margin-bottom: 3rem;
  padding: 0;
}

#visi-misi h2 {
  color: var(--primary);
  margin: 1rem 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #0e75ba;
}

#visi-misi p {
  font-size: 18px;
}

.visi {
  text-align: center;
}

.misi li {
  text-align: center;
  list-style: none;
  margin-bottom: 4px;
  font-size: 18px;
  color: #0e75ba;
}

/*====================================TEAM=========================*/
#team {
  margin: 0;
  padding: 16px 0;
  background: linear-gradient(to top left, #2d3192, #01acf1);
}

#team hr {
  color: white;
  margin: 0.5rem 2rem;
  padding: 0 2rem;
}

#team h2 {
  margin-top: 1.5rem;
  font-size: 48px;
  color: white;
}

#team h3 {
  margin: 1rem;
  color: #2d3192;
}

#team h4 {
  font-size: 18px;
  margin: 0.75rem;
  color: #607070;
  padding-bottom: 0;
  margin-bottom: 0;
}

#team p {
  padding: 8px;
  margin: 0.5rem 0.25rem;
  color: #2d3192;
  text-align: center;
}

#team .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  box-sizing: border-box;
  text-align: center;
  margin: 32px 24px;
  padding: 8px;
}

#team .column {
  width: 100%;
  max-width: 300px;
  height: fit-content;
  text-align: center;
  background-color: aliceblue;
  border: 1px solid #7fc7d9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

#team .profile-photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

#socials img {
  margin: 8px 24px;
  height: 35px;
  width: 35px;
  transition: all 0.2s;
}

#socials img:hover {
  margin: 0 22px;
  height: 40px;
  width: 40px;
}

#socials a {
  text-decoration: none;
}

/*============Viewport================*/
@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1500px) {
  #visi-misi {
    margin-right: 10rem;
    margin-left: 10rem;
  }
}

@media screen and (max-width: 1125px) {
  #visi-misi {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media screen and (max-width: 768px) {
  #visi-misi {
    margin-right: 2rem;
    margin-left: 2rem;
    line-height: 1.5;
  }

  #visi-misi p {
    font-size: 14px;
  }

  #visi-misi li {
    font-size: 12px;
  }

  #visi-misi li {
    text-align: left;
  }
}
