.contact-banner {
  padding: 0px;
  margin: 0px;
  min-height: 355px;
  background: url(../img/contact-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us-content {
  text-align: center;
}

.contact-us-content h2 {
  margin: 0px 0px 12px 0px;
  padding: 0px;
  font-family: "Scada";
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.contact-us-content p {
  margin: 4px 0px;
  padding: 0;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}

.contact-us-content a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 50px;
  color: #fff;
  font-family: "Scada";
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(to right, #2d3192, #01acf1);
  border-radius: 8px;
  box-shadow: -4px 4px 10px #2d3192, 4px 4px 10px #01acf1;
}

.contact-us-content a:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.2s;
}

.contact-container {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.contact-item {
  background: linear-gradient(to top left, #2d3192, #01acf1);
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  width: 350px;
  height: 375px;
}

/* .contact-item:first-child {
  height: 300px;
  object-fit: cover;
} */

.contact-container div:hover {
  transform: scale(1.15);
  transition: all ease-in-out 0.2s;
}

.contact-item h2 {
  color: white;
  margin: 1rem;
}

.contact-item p {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
}

.contact-item img {
  background: white;
  border-radius: 35%;
  padding: 24px;
  margin-top: 2rem;
  width: 100%;
  max-width: 150px;
  height: 150px;
  align-self: center;
}