:root {
  --primary: #2d3192;
  --secondary: #0e75ba;
  --variation: #01acf1;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin: 36px;
  padding: 24px;
}

h1 {
  font-size: 72px;
  text-align: center;
  margin: 2rem;
  color:#2d3192;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: center;
}

h4 {
  font-size: 16px;
  text-align: center;
  font-style: normal;
}

p {
  text-align: justify;
  color: #0e75ba;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

li {
  list-style: none;
}

/* Navigation Bar */
nav {
  box-shadow: 0px 0px 10px black;
  background-color:white;
  position: sticky;
  padding: 5px;
  width: 100%;
  top: 0;
  z-index: 100;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 5rem;
}

header li {
  display: inline-block;
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #2d3192;
  padding: 0 1.75rem;
}

header li:hover {
  color: #01acf1;
  transition: all ease-in-out 0.2s;
}

header li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #01acf1;
  display: block;
  transition: 0.2s;
}

header li:hover::after {
  width: 100%;
}

.icon {
  width: 144px;
  height: 72px;
}

header a:has(img) {
  margin-right: auto;
}

.phone-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

/*================DROPDOWN======================*/
.dropdown img {
  width: 35px;
  height: 35px;
  margin: 0.5rem 1rem;
  transition: transform 1s;
}

.dropdown img:hover {
  transform: rotate(360deg);
}

.dropdown .dropbtn {
  padding: 1rem 2rem;
  margin: 0;
}

.dropdown-characters {
  display: none;
  width: 100%;
}

.dropdown-characters a {
  font-family: "Inter";
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #2d3192;
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
}

.dropdown-characters a:hover {
  background-color: #01acf1;
}

.show {
  display: block;
}

/* =========== Hero Section ============= */
.hero {
  padding: 1rem 2rem;
  margin: 0px;
  min-height: 100vh;
  background: url(../img/banner_home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  margin: 0px 0px 12px 0px;
  padding: 0px;
  font-family: "Scada";
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.hero-content p {
  text-align: center;
  margin: 2rem;
  padding: 0 15%;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 1.75;
  font-weight: normal;
  color: #fff;
}

.hero-content a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 50px;
  color: #fff;
  font-family: "Scada";
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(to right, #2d3192, #01acf1);
  border-radius: 8px;
  box-shadow: -4px 4px 10px #2d3192, 4px 4px 10px #01acf1;
}

.hero-content a:hover {
  transform: scale(1.2);
}

/*==============================================================*/

/*==============================================================*/
footer {
  width: 100%;
  position: absolute;
  color: var(--primary);
  background: radial-gradient(var(--bg), var(--secondary));
  padding: 0px;
  font-size: 20px;
  line-height: 20px;
}

footer .row-footer {
  width: 73%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

footer .col-footer {
  flex-basis: 25%;
  padding: 50px 0px;
}

footer .col-footer img {
  margin-top: 8px;
  height: 154px;
}

footer .col-footer:nth-child(3) {
  flex-basis: 15%;
}

footer .col-footer h3 {
  font-family: "Inter";
  font-weight: bold;
  color: #2d3192;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

footer .col-footer ul {
  padding: 0px;
}

footer .col-footer ul li {
  font-family: "Inter";
  font-weight: 500;
  list-style: none;
  margin-bottom: 20px;
}

footer .col-footer ul li a {
  text-decoration: none;
  color: var(--primary);
}

footer .col-footer ul li a:hover {
  text-decoration: none;
  color: #01acf1;
}

footer .col-footer-contact {
  position: relative;
}

footer .col-footer-contact img {
  width: 36px;
  height: 36px;
}

footer .col-footer-contact li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

footer .copyright {
  width: 100%;
  padding: 4px 0px;
  background-image: linear-gradient(to right, #2d3192, #01acf1);
}

footer .copyright-name {
  padding: 12px 0px;
  color: #fff;
  font-family: "Open Sans";
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}

/*============Viewport================*/
@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1500px) {
  .layanan p {
    margin-right: 12rem;
    margin-left: 12rem;
    padding: auto 0;
  }

  #visi-misi {
    margin-right: 12rem;
    margin-left: 12rem;
    padding: auto 0;
  }
}

@media screen and (max-width: 1125px) {
  .layanan p {
    margin-right: 5rem;
    margin-left: 5rem;
    padding: auto 0;
  }

  #visi-misi {
    margin-right: 5rem;
    margin-left: 5rem;
    padding: auto 0;
  }

  nav ul {
    justify-content: center;
  }
}

/*============Viewport================*/
@media screen and (min-width: 1200px) {
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .dropdown {
    display: block;
  }

  header {
    padding: 0 8px;
  }

  nav ul {
    display: none;
  }

  .hero-content p {
    padding: 0;
  }
  
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 8px;
  }

  .hero-content, .hero-content h1, .hero-content p {
    text-align: left;
  }

  .hero-content p {
    margin: 1rem 0;
    font-size: 16px;
    padding: 0;
  }

  main aside {
    align-self: center;
  }

  section {
    margin: 8px;
    padding: 8px;
  }

  footer .row-footer {
    width: 90%;
    flex-direction: column;
  }
}